mat-card-title {
  background: crimson;
  background-image: url("https://static.wixstatic.com/media/7ad1f8_ae79566e9dc24f16987c7fe261edc952~mv2.png/v1/fill/w_1400,h_980,al_c,q_90/file.jpg");
  background-size: auto;
  padding: 20px 20px;
}

mat-card-content {
  padding: 1em;
}

.mat-list .mat-list-item {
  height: 2em;
  /* default is 72px */
}

.infoBtnOn
{
  margin: 25px 10px 10px 0px;
  background-color:  lightgray;
}

.infoBtnOff
{
  margin: 25px 10px 10px 0px;
  background-color:  white;
}

.lable
{
  font-size: 0.7em;
  color: gray;
  margin: 0px;
  padding: 0px;
}

.detail
{
  margin: 0px;
  padding: 0px;
}

ul{
  padding: 0;
  list-style-type: none;
}

#deleteButton{
  float: right;
  bottom: 5px;
  background-color: crimson;
  color: white;
}


