<mat-card-title>{{device.device_name}}</mat-card-title>
<mat-card-content>
  <mat-list>
    <mat-list-item><strong>ModuleType:</strong>&nbsp;{{device.module_type}}</mat-list-item>
    <mat-list-item>
      <button mat-raised-button [ngClass]="{ 'statusBtnOn': isOn, 'statusBtnOff': !isOn  }" (click)="buttonToggle()">
        ON
      </button>
      <button mat-stroked-button [ngClass]="{ 'infoBtnOn': showInfo, 'infoBtnOff': !showInfo  }" (click)="infoToggle()">Info</button>
    </mat-list-item>
  </mat-list>
</mat-card-content>
<app-device-detail [device]="device" [showInfo]="showInfo"></app-device-detail>