<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <p>
          <mat-icon id="logicon">assignment_ind</mat-icon> Login
        </p>
        <div id="logininputs">
        <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="isFieldInvalid('username')">
            Please enter a valid Username!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please enter a valid Password!
          </mat-error>
        </mat-form-field>
        <button mat-button>Login</button>
        <mat-error id="login-error" *ngIf="failedLoginAttempt">
          Login failed, wrong User or Password!
        </mat-error>
      </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>