<mat-card>
      <mat-card-title>Profile 
        <button mat-stroked-button (click)="showEdit=true" id="edit">
        <mat-icon>edit</mat-icon>
        </button>
      </mat-card-title>
  <mat-divider></mat-divider><br>
  <mat-icon>account_box</mat-icon>
  <p>Username: {{ username }}</p>
  <p>Email: {{ email }}</p>
  <p *ngIf="role === 'admin'">Role: {{ role | uppercase }}</p>
</mat-card>

<div id="editcard" *ngIf="showEdit">
  <mat-card>
      <mat-card-title>Edit</mat-card-title>
      <mat-divider></mat-divider><br>
      <form [formGroup]="form" (ngSubmit)="showEdit=false; changeUser()" autocomplete="off">
      <mat-form-field appearance="outline" autocomplete="off">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" value="{{form.value.username}}" >
      </mat-form-field><br>
      <mat-form-field appearance="outline" autocomplete="off">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" value="{{form.value.email}}" >
      </mat-form-field>
      <p></p>
      <button type="submit" id="accept" mat-stroked-button><strong>ACCEPT</strong></button>
      <button type="button" id="cancel" (click)="showEdit=false" mat-stroked-button><strong>CANCEL</strong></button>
      </form>
  </mat-card>
</div>