mat-card {
  margin: 1em;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0px;
  min-width: 20em;
  min-height: 12em;
  margin-bottom: 1em;
  float: left;
}

#addButton{
  margin: 1em;
  position: fixed;
  bottom: 0px;
  right: 0px; 
  z-index: 1;
}

#AddBox{
  margin: 2em;
  min-width: 320px;
  min-height: 570px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 2px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid;
  border-radius: 15px 0px 50px 10px;
  border-color: rgba(0, 0, 0, 0.164);
  background-color: white;
  position: fixed;
  bottom: 0px;
  right: 0px; 
  z-index: 1;
}

#close{
  top: -12px;
  right: -12px; 
  float: right;
}

form{
  text-align: center;
  margin: 2em;
  color: black;

}

#AddBox {
  animation-name: AddBox;
  animation-duration: 1s;
  -webkit-animation-name: AddBox;
  -webkit-animation-duration: 1s;
}
@keyframes AddBox {
from {
  bottom: -500px;

}
to {
  bottom: 0;  }
}
/* use prefix -webkit- for Safari */
@-webkit-keyframes AddBox {
  from {
    bottom: -500px;
  }
  to {
    bottom: 0;  }
}

#accept{
  margin: 2px;
  color: green;
}
#cancel{
  margin: 2px;
  color: red;
}

h2 {
  font-size: 16px;
  margin:1em; 
  text-align:left;
}

h2 mat-icon{
  position: relative;
  top: 5.5px;
}

mat-error{
  font-size: 14px;
  margin: 0.5px;
  text-align: center;
}
