<div *ngIf="deviceData$ | async as deviceData" class="maincontent">
  <!-- Light -->
  <mat-tab-group mat-align-tabs="start">
    <mat-tab *ngFor="let tab of rooms" label="{{tab}}">
      <div *ngIf="devices" class="maincontent">
        <mat-card *ngFor="let device of devices | filterByName: tab">
          <app-device (getId)="deleteDevice($event)" [device]="device"></app-device>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div id="addButton">
  <strong>Add Device </strong>
  <button mat-mini-fab (click)="openBox()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div id="AddBox" *ngIf="openAddBox">
  <button (click)="openBox(); formSubmitAttempt=false" mat-mini-fab id="close">
    <mat-icon>close</mat-icon>
  </button>
  <h2>
    <mat-icon>add</mat-icon>Add new Device
  </h2>
  <mat-divider></mat-divider>
  <form [formGroup]="form" (ngSubmit)="addDevice()" autocomplete="off">
    <mat-form-field autocomplete="off">
      <mat-label>Device Name</mat-label>
      <input matInput formControlName="device_name">
    </mat-form-field><br>
    <mat-form-field>
      <mat-select formControlName="room_name" placeholder="Select Room">
        <mat-option *ngFor="let tab of rooms" [value]="tab">
          {{tab}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field>
      <mat-select formControlName="module_type" placeholder="Select Module Type">
        <mat-option *ngFor="let module of module_types" [value]="module">
          {{module}}
        </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field autocomplete="off">
      <mat-label>IP</mat-label>
      <input matInput formControlName="device_ip">
    </mat-form-field>
    <br>
    <mat-form-field autocomplete="off">
      <mat-label>MAC</mat-label>
      <input matInput formControlName="device_mac">
    </mat-form-field>
    <br>
    <button type="submit" id="accept" mat-stroked-button><strong>ACCEPT</strong></button>
    <button type="button" id="cancel" (click)="openBox(); formSubmitAttempt=false" mat-stroked-button><strong>CANCEL</strong></button>
  </form>
  <div *ngIf="formSubmitAttempt">
    <mat-error>Please enter all required information!</mat-error>
    <mat-error *ngIf="isFieldInvalid('device_ip')">Please enter a valid IP with maxLength: 15</mat-error>
    <mat-error *ngIf="isFieldInvalid('device_mac')">Please enter a valid MAC with maxLength: 17</mat-error>
  </div>
</div>
<div id="overlay" *ngIf="delete">
<div id="deleteConfirmation">
  <p>Are you sure to delete {{deviceName}} ?</p>
  <mat-divider></mat-divider>
  <button class="confirmBtn"(click)="confirmDelete(true)" mat-button>Yes</button>
  <button class="confirmBtn" (click)="confirmDelete(false)" mat-button>No</button>
</div>
</div>