<div class="maincontent">
  
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Room 1">
      <mat-card *ngFor="let device of typesOfdevices">
        <mat-card-title>{{device.name}}</mat-card-title>
        <mat-card-content>
         <mat-list>ID: {{device.id}}</mat-list>
         <mat-list>ModuleType: {{device.module_type}}</mat-list>
         <mat-list> IP: {{device.ip}}</mat-list>
         <button id="btn_details" mat-stroked-button routerLink="/detail/{{device.id}}">Info</button>
        </mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="All Devices">Bla Bla Bla </mat-tab>
  </mat-tab-group>
</div>